body {
    min-width: 200px;
    padding: 20px;
    border-radius: 10px;
}
img {
    width: 150px;
    height: auto;
}

#home table{
    width: 100%;
}


.decoratedLink{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to bottom left, rgb(255,32,191), rgb(255,107,107), rgb(255,222,0));
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}
.decoratedLink:hover{
    background-image: linear-gradient(to bottom left, rgb(138, 19, 104), rgb(138, 60, 60), rgb(141, 122, 0));
}

button{
    border: none;
}

/* Reference: https://www.geeksforgeeks.org/how-to-create-toggle-switch-by-using-html-and-css/ */
/* Container for the toggle */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The track */
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

/* The circular slider */
.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* Toggled state */
.toggle-switch input:checked+.slider {
    background-image: linear-gradient(to bottom left, rgb(255,32,191), rgb(255,107,107), rgb(255,222,0));
}

.toggle-switch input:checked+.slider::before {
    transform: translateX(26px);
}

.hidden{
    display: none;
}
